.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chatroomPage {
  display: flex;
  align-items: center;
  height: 100vh;
  margin: -8px;
  padding-left: 20%;
  padding-right: 20%;
}

.cardHeader {
  padding: 10px;
  color: #1e2c96;
}

.UsersOnline {
  margin-left: 5%;
  border: 1px solid #eee;
  padding: 20px;
}
.chatroomSection {
  width: 20vw;
  height: 80vh;
  margin: auto;
  border: 1px solid #eee;
  position: relative;
}
.chatroomContent {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  bottom: 3.5rem;
  padding: 0.5rem;
  overflow: auto;
}
.chatroomActions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 72px;
  grid-gap: 1rem;
  border-top: 1px solid #eee;
}

.chatroomActions button {
  height: 100%;
}

.message {
  margin-bottom: 0.25rem;
}

.buttonsAdmin {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.buttonsAdmin button {
  padding: 5px;
  margin: 5px;
}

.userBD {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
